.skill-page-container {
  background-color: rgb(255, 255, 255);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 55px;
}

.hero-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  box-sizing:border-box;
}

.title{
  font-family:arial;
  letter-spacing:-1px;
}

.description-container{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.image-container {
  display: flex;
  gap: 20px; 
  justify-content: start; 
  flex-wrap: wrap; 
  padding: 30px 0;
}

.image-container img {
  width: 90px; 
  height: 90px;
  object-fit: cover;
  border-radius: 10px; 
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.1); 
  cursor:pointer;
}

@media (max-width: 600px) {
  .image-container img {
    width: 60px;
    height: 60px;
  }
}
