.header-container-main {
  position: fixed;
  top: 0;
  left: 50%;     
  transform: translateX(-50%);
  width: 90%;      
  background-color: rgb(10, 1, 1);
  z-index: 1000;
}


.header-container {
  display: flex;
  justify-content: space-between;
  color:white;
  align-items:center;
  margin: 0 auto;
  max-width:800px;
  padding:15px 20px;
}


.nav-container {
  display: flex;
  gap: 40px;
  
}

.nav-container a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition: color 0.3s;
  font-size: 15px;
}

.nav-container a:hover {
  color: rgb(106, 133, 255)
}

.nav-container a.active-link {
  color:rgb(158, 157, 157);
}
